spring:
  jackson:
    date-format: yyyy-MM-dd hh:mm:ss
    time-zone: GMT+8
    default-property-inclusion: non_null
  devtools:
    restart:
      enabled: true
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/Motion management system?serverTimezone=UTC
    username: root
    password: 123456
  main:
    #    springboot 打印的图标
    banner-mode: off
  #配置文件上传的文件大小限制
  servlet:
    multipart:
      max-request-size: 500MB
      max-file-size: 300MB
server:
  port: 8081
  servlet:
    encoding:
      charset: UTF-8
      force: true
      enabled: true
mybatis-plus:
  configuration:
    #    打印数据库操作日志
    #    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    mapUnderscoreToCamelCase: false # 关闭驼峰命名转换法
  global-config:
    #    mybatisPlus 打印的图标
    banner: false

# tomcat 打印日志级别
logging:
  level:
    root: warn

# 个人配置类
zq:
  jwt:
    header: Authorization
    expire: 604800 # 7天，s为单位
    secret: abcdefghabcdefghabcdefghabcdefgh
